.button {
    background-color: #2e59d9 !important;
    border-color: #2e59d9 !important;
    border: none;
    border-radius: 50%;
    color: #fff;
    padding: .7rem 1rem;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}

.button:hover {
    background-color: #3351b1 !important;
    border-color: #3351b1 !important;
}